VITE_RESUME_URL="https://drive.google.com/file/d/1ARZrFCOdDyHR3s4qGXMztYAm0ydZ0hdB/view?usp=drivesdk"
VITE_GITHUB_URL="https://github.com/xyz"
VITE_LINKEDIN_URL="https://www.linkedin.com/in/xyz/"
VITE_TWITTER_URL="https://twitter.com/xyz"
VITE_INSTAGRAM_URL="https://www.instagram.com/xyz/?igsh=MjkwYTRxb3lj"
VITE_LEETCODE_URL="https://leetcode.com/u/xyz/"
VITE_EMAIL_URL="mailto:xyz@gmail.com"
VITE_EMAILJS_SERVICE_ID="service_xxxxxxx"
VITE_EMAILJS_TEMPLATE_ID="template_xxxxxxx"
VITE_EMAILJS_PUBLIC_KEY="xxxxxxxxxxxxxxxxx"
